<%= form_for(beneficiario) do |f| %>
  <% if beneficiario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beneficiario.errors.count, "error") %> prohibited this beneficiarios from being saved:</h2>

      <ul>
      <% beneficiario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<<<<<<< HEAD
  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
=======
  <div class="form-group form-material">
    <div class="field">
      <%= f.label :nome %>
      <%= f.text_field :nome, :class => "form-control" %>
    </div>
>>>>>>> 6d7098f6a6a48086a279d91e00c83dbbee770bfc

      <div class="field">
      <%= f.label :cpf %>
      <%= f.text_field :cpf, :class => "form-control" %>
    </div>

      <div class="field">
      <%= f.label :rg %>
      <%= f.text_field :rg, :class => "form-control" %>
    </div>

      <div class="field">
      <%= f.label :senha %>
      <%= f.text_field :senha, :class => "form-control" %>
    </div>

      <div class="field">
      <%= f.label :num_cartao %>
      <%= f.text_field :num_cartao, :class => "form-control" %>
    </div>
    <div class="actions" align="center">
      <%= f.submit %>
    </div>
  </div>
<% end %>
