<body>
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <nav class="site-navbar navbar navbar-inverse navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
      data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
                           <%= image_tag("icon.png", :alt => "...", :class => 'navbar-toggle collapsed') %>

      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
        <span class="navbar-brand-text" style="font-weight:bold; font-size:x-large">Unimed</span>
      </div>

    </div>
    <div class="navbar-container container-fluid">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        <!-- Navbar Toolbar -->
        <ul class="nav navbar-toolbar">
          <li class="hidden-float" id="toggleMenubar">
            <a data-toggle="menubar" href="#" role="button">
              <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
            </a>
          </li>
          <li class="hidden-xs" id="toggleFullscreen">
            <a class="icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
              <span class="sr-only">Toggle fullscreen</span>
            </a>
          </li>
  
        </ul>
        <!-- End Navbar Toolbar -->

        <!-- Navbar Toolbar Right -->
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          <li class="dropdown">
            <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
            data-animation="scale-up" role="button">
              <span class="avatar avatar-online">
                <img src="" />
                <i></i>
              </span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation">
                <a href="javascript:void(0)" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>
              </li>
              <li role="presentation">
                <a href="javascript:void(0)" role="menuitem"><i class="icon wb-settings" aria-hidden="true"></i> Settings</a>
              </li>
              <li class="divider" role="presentation"></li>
                       <%= image_tag("placeholder.png", :alt => "...", :class => 'cover-image') %>

            </ul>
          </li>
        </ul>
        <!-- End Navbar Toolbar Right -->

      </div>
      <!-- End Navbar Collapse -->
      <!-- Site Navbar Seach -->
      <div class="collapse navbar-search-overlap" id="site-navbar-search">
        <form role="search">
          <div class="form-group">
            <div class="input-search">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" name="site-search" placeholder="Search...">
              <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
              data-toggle="collapse" aria-label="Close"></button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Site Navbar Seach -->
    </div>
  </nav>

  <div class="site-menubar">
      <div class="site-menubar-header">
      <div class="cover overlay">
                <%= image_tag("placeholder.png", :alt => "...", :class => 'cover-image') %>

        <div class="overlay-panel vertical-align overlay-background">
          <div class="vertical-align-middle">
          <a class="avatar avatar-lg" href="javascript:void(0)">

          <%= image_tag("5.jpg", :alt => "...", :class => '') %>

          </a>
            <div class="site-menubar-info" style="width:100%;">

              <h5 class="site-menubar-user"> Seja bem vindo</h5>

              <p class="site-menubar-email">Sr. <% current_user.nome %></p>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="site-menubar-body" >
      <div>
        <div>
          <ul class="site-menu">
              
            <li class="site-menu-item has-sub">
            <%= link_to dashboard_path do %>
                <i class="site-menu-icon wb-home" aria-hidden="true"></i>
                <span class="site-menu-title"  style="font-size: large">Inicio</span>
            <% end %>
            </li>
            <li class="site-menu-item has-sub">
          <%= link_to dashboard_path do %>
                <i class="site-menu-icon wb-help" aria-hidden="true"></i>
                <span class="site-menu-title" style="font-size: large">Perguntas Frequente</span>
            <% end %>
            </li>
            <li class="site-menu-item has-sub">
            <%= link_to dashboard_path do %>
                <i class="site-menu-icon wb-payment" aria-hidden="true"></i>
                <span class="site-menu-title" style="font-size: large">Simular gastos</span>
            <% end %>
            </li>
          
            <li class="site-menu-item has-sub">
          <%= link_to dashboard_path do %>
                <i class="site-menu-icon wb-wrench" aria-hidden="true"></i>
                <span class="site-menu-title" style="font-size: large">Alterar dados</span>
            <% end %>
            </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="site-menubar-footer">
      <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
      data-original-title="Settings">
        <span class="icon wb-settings" aria-hidden="true"></span>
      </a>
      <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
        <span class="icon wb-eye-close" aria-hidden="true"></span>
      </a>

    </div>
  </div>

  